{% extends 'layout_s2s.twig' %}


{% block main_content %}
    <div class="uk-card">
        <div class="uk-card-title"><h1>Page Not Found</h1></div>
        <div class="uk-card-body">
            <p>
                The page has some problem, please contact admin.
            </p>
        </div>
    </div>


{% endblock %}
