{% extends 'layout_s2s.twig' %}

{% block main_content %}
    <div class="uk-card">
        <div class="uk-card-title"><h1>{{ title }}</h1></div>
        <div class="uk-card-body">
            <p>
                note: this form is meant to function as a simple example, normally only some of these parameters are
                user inputs
            </p>
        </div>
    </div>


{% endblock %}