{% extends 'layout.twig' %}
{% block main_body %}
    <div>
        <div class="uk-grid">
            <div class="uk-width-1-4 uk-visible@l uk-grid-item-match">
                <div class="uk-flex uk-flex-column uk-height-1-1" id="sc-js-invoices-list">
                    <div class="uk-card uk-card-body sc-js-el-hide uk-flex-1" data-sc-scrollbar="visible-y">
                        {% include './menu.twig' %}
                    </div>
                    <hr class="uk-margin-remove">
                </div>
            </div>
            <div class="uk-width-3-4 uk-grid-item-match">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
    {% if hide_bottom is not defined %}
        <div>
            <div class="uk-card">
                <div class="uk-card-body">
                    <h5 class="uk-heading-line"><span>Query Result</span></h5>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" id="code-editor" cols="30" rows="5"></textarea>
                    </div>
                    <div class="uk-margin" hidden id="extra_link">
                        <p id="link_text">
                            <a href="##" target="_blank"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}